doctype html
HEAD
html
  
    style(type='text/css').
      body{
          background-image: url('images/bkg.jpg');
          line-height: 1.5;
          margin: 0;
          padding: 0;
          font-family: Helvetica, "Lucida Sans", Arial, sans-serif;
          word-wrap: break-word;
          overflow-x: hidden;
          text-align: justify;
      }
      
      li{
        line-height = 1;
        padding:0;
        position: relative;
        text-align: left;
      }
      l1
      {
        line-height = 1;
        padding:0;
        position: relative;
        text-align: justify;
        color:black;
        list-style: decimal;
      }
      li.kiri{
        margin-left:-120px;
      }
      li{
        list-style: radio;
        text-align: justify;
      }
      h3.isi{
        text-align: justify;
      }
      h3{
        font-style:monotype;
      }
      li.a{
        list-style: number;
        text-align: justify;
  body
    article
      section
           
                h1 Manajemen Waktu
                br             
      section
        h1 Presented
        h4 By :
        h6 Arief Syahputra 
        h6 Yanto Yosep     
      section
        h2 Apa Itu Manajemen Waktu?
        .gambar1
                    img.depan(src='/images/pikir.jpg' 'width = 150px')
      section
          h3.isi Manajemen Waktu adalah Usaha untuk memanfaatkan setiap bagian dari waktu untuk dilakukan aktivitas tertentu yang mana telah ditentukan target dalam jangka waktu tertentu suatu aktifitas atau pekerjaan harus sudah diselesaikan.Memang akan sulit sekali untuk dapat menyelesaikan suatu pekerjaan sesuai dengan waktu yang telah ditargetkan, namun jika kita ingin hasil yang maksimal hal itu harus dilakukan setidaknya jika kita belum mampu 100 % sesuai target kita berupaya semaksimal mungkin itu lebih baik.   
      section
        h2 Deskripsi Manajemen Waktu yang Baik
      section 
        h3.isi Manajemen waktu yang baik adalah dengan membuat data aktifitas atau pekerjaan dan menentukan skala prioritas dari setiap pekerjaan tersebut.Disini perlu kita tahu bahwa setiap pekerjaan pastilah penting namun dari daftar pekerjaan penting itu ada yang lebih penting yaitu pekerjaan yang mendesak atau genting dan biasanya berhubungan dengan deadline.Letakkanlah aktifitas yang genting pada daftar yang paling atas untuk segera dikerjakan baru diikuti dengan daftar urutan pekerjaan lain yang kurang prioritasnya.
      section
        h3 Apa Sich Petingnya Memanajemen Waktu?
         .gambar1
                    img.depan(src='/images/time.jpg' 'width = 150px')
      section
        h2
        ul
          li  Waktu adalah terbatas dan langka. Anda harus menyadari setiap individu memiliki jumlah jam yang sama, namun anda akan melihat beberapa  orang yang mengeluh tentang waktu yang mereka miliki. Oleh karena itu, untuk manajemen waktu yang efisien sangat penting untuk menetapkan prioritas dan menyelaraskan dengan tenggat waktu. Ketika Anda mulai memprioritaskan hal ini, Anda akan melihat bahwa ada cukup waktu untuk kegiatan yang penting dalam hidup anda.
          li  Manajemen waktu membantu dalam mengorganisir diri sendiri.Jika Anda bisa membagikan waktu tertentu untuk setiap pekerjaan atau kegiatan, Anda tidak akan memiliki kekhawatiran tentang pencapaian target Anda. 
      section
        h3 Cara  Memanajemen Waktu
        ul
          li Lakukan perencanaan
          li Tetapkan skala prioritas
          li Batasi rencana Anda
          li Luangkan waktu
      section
        h2 Siapa Saja Kelompok Dalam Memanfaatkan Waktu?
      section
        h3 1.ORANG SUKSES
          ul
            li.a Memiliki jadwal kegiatan yang terencana dengan baik. 
            li.a Mampu mengendalikan waktu yang dimilikinya (bukan sebaliknya).
            li.a Memiliki waktu luang untuk belajar dan beristirahat yang cukup.
            li.a Memiliki jiwa yang lebih tenang, mantap dan tegas.
      section
        h3 2.ORANG BIASA YANG SIBUK
          ul
            li.a Memiliki jadwal kerja, tetapi sering jawal itu dilanggarnya.
            li.a Dikendalikan atas waktu dan kelelahan atas habisnya waktu.
            li.a Tampak sibuk, tertekan dan tidak adanya efektif atas hasil
            li.a Kehidupan dalam rutinitas
      section
        h3 3. ORANG YANG RUGI
          ul 
            li.a Tidak memiliki jadwal dan tidak jelas
            li.a Hidup dalam kesibukan tanpa prioritas
            li.a Pesimis dalam harapan pencapaian
            li.a Membuang waktu percuma dan tidak membuat esok menjadi lebih baik, karena dipenuhkan dengan keluhan dan penyalahan pihak lain
       section
        h3 Tips Memanajemen Waktu
          ul
            li Lacak Aktivitas Anda
            li Berkonsentrasi Pada Hasil
            li Ingat Prisip
            li Gunakan Waktu Perjalanan Dengan Bijaksana
            li Merespon Dengan Cepat
            li Bersikap Tegas
            li Jadwalkan Waktu Untuk Bersantai.
         section
         h3 Tips Manajemen Waktu Yang dapat Merubah Hidup Anda
          ul
            li Menguasai daftar hal-hal yang harus anda lakukan (to-do lists)
            li Buat rencana SMART (Specific-Measureable-Achievable-Reasonable-Timeline)
            li Belajarlah untuk mengatur prioritas anda 
            li Kunci manajemen waktu yang sukses adalah delegasi.  
         section 
         h3 Kiat Agar Kamu Bisa Lebih Bijaksana Dalam Mengatur Waktu
          ul
            li Biasakan Buat Catatan Kegiatanmu Tiap Harinya
            li Bagi Kegiatanmu Ke Dalam 4 Kotak Prioritasmu
            li Unduh Aplikasi Atau Buku Catatan Sebagai Alat Bantu
            li Merapikan Barang-barang Bisa Membantumu Menghemat Waktu



        .gambar1
                    img.depan(src='/images/tha.jpg' 'width = 550px')
       
            

    script(src='build/build.js')